.blog-post-content {
  /*********************************************************************************************************************
   * Headings
   */
  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-semibold);
  }

  h1 {
    font-size: var(--fontSize-5);
  }

  h2 {
    font-size: var(--fontSize-4);
  }

  h3 {
    font-size: var(--fontSize-3);
  }

  h4 {
    font-size: var(--fontSize-2);
  }

  /*********************************************************************************************************************
   * Link
   */

  a {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    text-underline-offset: 2px;
    word-break: break-all;
    /* リンクは既定の改行規則を無効にする */

    &:hover {
      color: var(--color-primary-light);
    }
  }

  /*********************************************************************************************************************
   * Table
   */

  table {
    width: 100%;
    margin: --spacing(4) 0;

    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-accent);
    border-radius: --spacing(2);
    overflow: hidden;

    :where(th, td) {
      font-size: var(--fontSize-0);
      padding: --spacing(3) --spacing(4);
    }

    th {
      font-weight: var(--font-weight-semibold);
      background-color: var(--color-accent-soft);
    }

    /* 横方向の境界線 */
    td {
      border-top: 1px solid var(--color-accent);
    }

    /* 縦方向の境界線 */
    :where(td, th):not(:last-child) {
      border-right: 1px solid var(--color-accent);
    }
  }

  /*********************************************************************************************************************
   * Decoration
   */
  hr {
    background: var(--color-accent);
    height: 1px;
    border: 0;
    margin: --spacing(10) 0;
  }

  /*********************************************************************************************************************
   * Paragraph
   */
  p {
    line-height: var(--lineHeight-relaxed);
    margin: --spacing(4) 0;
  }

  blockquote {
    margin: --spacing(4) 0;
    border-left: 2px solid var(--color-accent);
    padding-left: --spacing(4);

    & p {
      margin: 0;
      color: var(--color-text-light);
    }
  }

  /*********************************************************************************************************************
    * List
    */
  :where(ul, ol) {
    padding-left: --spacing(5);
    margin: --spacing(4) 0;
  }

  li {
    /* リストアイテム間の幅 */
    & + li {
      margin-top: --spacing(2);
    }

    & > :where(ol, ul) {
      margin-top: --spacing(2);
    }
  }

  /*********************************************************************************************************************
   * Code
   */

  /* inline */
  code {
    font-size: 0.9em;
  }

  :not(pre) > code {
    padding: 3px 6px;
    color: var(--color-primary);
    border-radius: var(--radius-sm);
    background-color: var(--color-gray-200);
  }

  :is(h1, h2, h3, h4, h5, h6) > code {
    /* 見出しは色を変えない */
    color: inherit;
  }

  /* in code block */
  pre {
    border-radius: var(--radius-lg);
    /* overwrite `astro-code` style */
    background-color: var(--color-gray-200) !important;
    padding: --spacing(5) --spacing(6);
  }
}
