.blog-post-toc {
  font-size: var(--fontSize-0);

  & > ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-left: 0;
  }

  & li {
    position: relative;
    list-style-type: none;

    & > ul {
      padding-left: calc(var(--spacing) * 4);
    }
  }

  & a {
    text-decoration: none;
    color: var(--colors-gray-400);

    &[data-toc-active] {
      color: var(--color-text);
    }
  }
}
