html,
body {
  height: 100%;
}

:root {
  --color-black: #000000;
  --color-orange: #ffc69e;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  border: solid 15px var(--color-orange);
  box-sizing: border-box;
}
