:root {
  --colors-white: #ffffff;
  --color-orange: #ffc69e;
}

body {
  background-color: var(--colors-white) !important; // TODO
}

.root {
  padding: 0 var(--spacing-3);
  border: solid 15px var(--color-orange);
  min-height: 100%;

  & .header {
    margin: var(--spacing-8) auto;
    max-width: 600px;
  }

  & .article {
    margin: 0 auto;
    max-width: 600px;
  }
}
