@use "./mixins.scss";

.header {
  margin: var(--spacing-12) 0;

  h1 {
    color: var(--color-primary);
    font-size: var(--fontSize-7);
    margin: 0;
  }

  &__inner {
    @include mixins.container;
  }
}

.bio-section {
  @include mixins.container;
}

.list-section {
  @include mixins.container;
}
