@import "../styles/mixins";

$side_menu_width: 250px;

.blogPostMain {
  @include container;

  display: flex;
  justify-content: space-between;
}

.blogPostContent {
  width: calc(100% - #{$side_menu_width} - 30px);
}

.blogPostSideMenu {
  width: $side_menu_width;
}

.blogPostSideMenuInner {
  position: sticky;
  top: 20px;
}

.blogPostNav {
  @include container;
}

.blogPostNavList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: var(--spacing-5) var(--spacing-0);
}
