@import "../styles/mixins";

$side_menu_width: 250px;

.blogPostMain {
  @include container;

  display: flex;
  justify-content: space-between;
}

.blogPostContent {
  width: calc(100% - #{$side_menu_width} - 30px);

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.blogPostSideMenu {
  width: $side_menu_width;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.blogPostSideMenuInner {
  position: sticky;
  top: 20px;
}

.blogPostNav {
  @include container;
}

.blogPostNavList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: var(--spacing-5) var(--spacing-0);
}

.fab {
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}
