---
import { styled } from "@styled-system/jsx";

import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer";
import Container from "../components/Container";

import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
---

<BaseLayout
  title={`Not Found | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <styled.header marginY="12">
    <Container>
      <styled.h1
        color="var(--color-primary)"
        fontSize="var(--fontSize-7)"
        margin="0"
      >
        <a href="/">{SITE_TITLE} - 404: Not Found</a>
      </styled.h1>
    </Container>
  </styled.header>
  <Footer />
</BaseLayout>
