---
import { css } from "@styled-system/css";
import { Container } from "@styled-system/jsx";

import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer";

import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
---

<BaseLayout
  title={`Not Found | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <header class={css({ marginY: "12" })}>
    <Container>
      <h1
        class={css({
          color: "var(--color-primary)",
          fontSize: "var(--fontSize-7)",
          margin: "0",
        })}
      >
        <a href="/">{SITE_TITLE} - 404: Not Found</a>
      </h1>
    </Container>
  </header>
  <Footer />
</BaseLayout>
