---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer";
import Container from "../components/Container";

import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
---

<BaseLayout
  title={`Not Found | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <header class="my-12">
    <Container>
      <h1 class="m-0 text-(length:--fontSize-7) text-(--color-primary)">
        <a href="/">{SITE_TITLE} - 404: Not Found</a>
      </h1>
    </Container>
  </header>
  <Footer />
</BaseLayout>
