---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList";
import Bio from "../components/bio";
import Footer from "../components/Footer";

import { SITE_TITLE } from "../constants";
import * as styles from "../components/layout.module.scss";

const allBlogPosts = await getCollection("blog");

const posts = allBlogPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((post) => ({
    slug: `blog/${post.slug}`,
    title: post.data.title,
    description: post.data.description ?? /* WIP */ post.body.slice(0, 100),
    date: post.data.date,
    category: post.data.category,
  }));
---

<BaseLayout>
  <header class="header">
    <div class="header__inner">
      <h1><a href="/">{SITE_TITLE}</a></h1>
    </div>
  </header>
  <section class="bio-section">
    <Bio />
  </section>
  <section class="list-section">
    <BlogList posts={posts} />
  </section>
  <Footer />
</BaseLayout>

<style lang="scss">
  @use "../styles/mixins.scss";

  .header {
    margin: var(--spacing-12) 0;

    h1 {
      font-size: var(--fontSize-7);
      margin: 0;
    }

    a {
      color: var(--color-primary);
    }

    &__inner {
      @include mixins.container;
    }
  }

  .bio-section {
    @include mixins.container;
  }

  .list-section {
    @include mixins.container;
  }
</style>
