---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList";
import Bio from "../components/bio";

const allBlogPosts = await getCollection("blog");

const posts = allBlogPosts
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .map((post) => ({
    slug: post.slug,
    title: post.data.title,
    description: "wip",
    date: post.data.date,
    category: "wip",
  }));
---

<BaseLayout>
  <section class="bio-section">
    <Bio />
  </section>
  <section class="list-section">
    <BlogList posts={posts} />
  </section>
  <Footer />
</BaseLayout>

<style lang="scss">
  @use "../styles/mixins.scss";

  .bio-section {
    @include mixins.container;
  }

  .list-section {
    @include mixins.container;
  }
</style>
