---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList";
import * as styles from "../styles/pages-index.module.scss";

const allBlogPosts = await getCollection("blog");

const posts = allBlogPosts
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .map((post) => ({
    slug: post.slug,
    title: post.data.title,
    description: "wip",
    date: post.data.date,
    category: "wip",
  }));
---

<BaseLayout>
  <div class="list-section">
    <BlogList posts={posts} />
  </div>
</BaseLayout>

<style lang="scss">
  @use "../styles/mixins.scss";

  .list-section {
    @include mixins.container;
  }
</style>
