.blog-post {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(67 133 187 / 7%);
  padding: 40px;

  background-color: rgb(252, 252, 252);

  header {
    margin-bottom: 40px;

    h1 {
      margin: var(--spacing-0) var(--spacing-0) var(--spacing-4)
        var(--spacing-0);
    }
    div {
      color: var(--color-text-light);
      font-size: var(--fontSize-1);
    }
  }

  h1 {
    font-weight: var(--fontWeight-black);
    font-size: var(--fontSize-5);
  }

  h2 {
    font-size: var(--fontSize-4);
  }

  h3 {
    font-size: var(--fontSize-3);
  }

  h4 {
    font-size: var(--fontSize-2);
  }

  a {
    color: var(--color-primary);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  table {
    $table-border-color-bold: rgba(200, 200, 200);
    $table-border-color: rgba(200, 200, 200, 0.5);
    width: 100%;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    border-spacing: 0;

    thead {
      tr th {
        border-bottom: 2px solid $table-border-color-bold;
      }

      tr th:not(:last-child) {
        border-right: 1px solid $table-border-color;
      }
    }

    tbody {
      tr:not(:last-child) td {
        border-bottom: 1px solid $table-border-color;
      }

      tr td:not(:last-child) {
        border-right: 1px solid $table-border-color;
      }
    }

    //margin: var(--spacing-2);
    //border-collapse: collapse;
    //border-spacing: 0.25rem;
    //box-shadow: 0 2px 4px rgb(67 133 187 / 7%);

    //thead tr th {
    //  border-bottom: 1px solid var(--color-accent);
    //}
    //
    //tbody tr td {
    //  border-bottom: 1px solid var(--color-accent);
    //}

    //tr:nth-child(odd) {
    //  background-color: #eee;
    //}
  }

  blockquote {
    color: var(--color-text-light);
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
    border-left: var(--spacing-1) solid var(--color-primary);
    font-size: var(--fontSize-1);
    font-style: italic;
    margin-bottom: var(--spacing-8);

    & > :last-child {
      margin-bottom: var(--spacing-0);
    }
  }

  hr {
    background: var(--color-accent);
    height: 1px;
    border: 0;
    margin: var(--spacing-10) 0;
  }

  p {
    line-height: var(--lineHeight-relaxed);
    --baseline-multiplier: 0.179;
    --x-height-multipllmier: 0.35;
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
    padding: var(--spacing-0);
  }

  ul,
  ol {
    padding: 0;
    margin-left: var(--spacing-2);
    margin-bottom: var(--spacing-8);
    list-style-position: inside;
  }

  li > p {
    display: inline;
    margin-bottom: var(--spacing-0);
  }

  li *:last-child {
    margin-bottom: var(--spacing-0);
  }

  li > ul {
    margin-left: var(--spacing-8);
    margin-top: var(--spacing-0);
  }
}
