.root {
  height: 24px;

  display: inline-flex;
  vertical-align: middle;
  justify-content: center;

  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
  border-radius: 16px;

  span {
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
