@import "../styles/mixins";

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.appHeader {
  margin: var(--spacing-12) 0;

  a {
    color: var(--color-primary);
  }
}

.headerInner {
  @include container;
}

.appFooter {
  margin-top: var(--spacing-12);
}

.footerInner {
  @include container;
}

.footerCopyRight {
  padding: 20px 0;
  text-align: center;
}
