.toc {
  font-size: var(--fontSize-0);

  ul {
    padding-left: 0;
  }

  li {
    position: relative;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #989898;
  }

  a[data-toc-active] {
    color: var(--color-text);
  }
}

.empty {
  text-align: center;
}
