---
import "../styles/global.scss";

import { SEO } from "astro-seo";
import GtagSnippet from "../components/GtagSnippet";
import {
  DEFAULT_OGP_IMAGE_URL,
  TWITTER_NAME,
} from "../constants";

interface Props {
  title: string;
  description: string;
  faviconType: "t28.dev" | "s-works";
}

const faviconPathMap = {
  "t28.dev": "/favicon.ico",
  "s-works": "/favicon-s-works.png",
};

const { title, description, faviconType } = Astro.props;
const faviconPath = faviconPathMap[faviconType];
---

<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <GtagSnippet />

    <SEO
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: DEFAULT_OGP_IMAGE_URL,
        },
      }}
      twitter={{
        creator: TWITTER_NAME,
        card: "summary",
        title,
        description: description,
      }}
      extend={{
        link: [
          {
            rel: "icon",
            href: faviconPath,
          },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
