---
import "../styles/panda.css";
import "../styles/global.scss";

import { SEO } from "astro-seo";
import GtagSnippet from "../components/GtagSnippet";
import { DEFAULT_OGP_IMAGE_URL, TWITTER_NAME } from "../constants";

interface Props {
  title: string;
  description: string;
  faviconType: "t28.dev" | "s-works";
  ogpImageUrl?: string;
}

const faviconPathMap = {
  "t28.dev": "/favicon.ico",
  "s-works": "/favicon-s-works.png",
};

const { title, description, faviconType, ogpImageUrl } = Astro.props;
const faviconPath = faviconPathMap[faviconType];
const canonicalUrl = (() => {
  const baseUrl = Astro.url.href;
  if (import.meta.env.DEV) {
    return baseUrl;
  }
  if (baseUrl === Astro.site?.href) {
    return baseUrl;
  }
  if (!baseUrl.endsWith(".html")) {
    throw new Error(
      `unexpected behavior. Astro.url (${baseUrl}) has no ".html" suffix`,
    );
  }
  // cloudflare pages redirects to extension-less URL
  // https://developers.cloudflare.com/pages/configuration/serving-pages/#route-matching
  return baseUrl.replace(".html", "");
})();
---

<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <GtagSnippet />

    <SEO
      description={description}
      canonical={canonicalUrl}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogpImageUrl ?? DEFAULT_OGP_IMAGE_URL,
        },
      }}
      twitter={{
        creator: TWITTER_NAME,
        card: ogpImageUrl ? "summary_large_image" : "summary",
        title,
        description: description,
      }}
      extend={{
        link: [
          {
            rel: "icon",
            href: faviconPath,
          },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
