name: Code review by `@my`

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

jobs:
  reusable:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner ã€€== 'TatsuyaYamamoto' &&
      github.event.sender.login == 'TatsuyaYamamoto' &&
      (
        github.event_name == 'issue_comment' ||
        github.event_name == 'pull_request_review_comment'
      ) &&
      contains(github.event.comment.body, '`@my`')
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: "2678965" # https://github.com/apps/my-code-review
          private-key: ${{ secrets._GITHUB_APP_PRIVATE_KEY_MY_CODE_REVIEW }}
          owner: ${{ github.repository_owner }}
      - name: Run code review
        uses: TatsuyaYamamoto/my-code-review-action@main
        with:
          anthropic-api-key: "${{ secrets.ANTHROPIC_API_KEY_CODE_REVIEW }}"
          github-token: "${{ steps.app-token.outputs.token }}"
