name: Code review

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

jobs:
  run:
    uses: TatsuyaYamamoto/my-mai-eld-code-review-action/.github/workflows/code-review.yml@main
    secrets: inherit
