name: VRT

on:
  pull_request:
    branches: [main]

jobs:
  vrt:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ secrets.REG_ACTIONS_GITHUB_TOKEN }}"
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      # Installing node-canvas@2.x on ubuntu of GitHub Actions requires these system dependencies
      # https://github.com/Automattic/node-canvas/tree/v2.x?tab=readme-ov-file#compiling
      - name: Install system deps for node-canvas
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev

      # build and shot for `base` branch
      - run: git checkout ${{ github.base_ref }}
      - run: pnpm i
      - run: pnpm exec playwright install --with-deps
      - run: pnpm exec astro preferences disable devToolbar # hide astro dev toolbar from screen
      - run: pnpm run build
      - run: pnpm run vrt:shot

      # build and test for `head` branch
      - run: git checkout ${{ github.head_ref }}
      - run: pnpm i
      - run: pnpm exec playwright install --with-deps
      - run: pnpm exec astro preferences disable devToolbar # hide astro dev toolbar from screen
      - run: pnpm run build
      - id: vrt
        run: |
          result=$(FORCE_COLOR=0 pnpm run vrt:test || true)
          shot_result=$(echo "$result" | head -n 30)

          echo "value<<EOF"   >> "$GITHUB_OUTPUT"
          echo "$shot_result" >> "$GITHUB_OUTPUT"
          echo "EOF"          >> "$GITHUB_OUTPUT"

          echo $result

      # upload VRT report
      - id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: vrt
          path: |
            playwright-report/
            tests/vrt/pages.test.ts-snapshots/
      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            artifact: [`vrt`](${{ steps.upload-artifact.outputs.artifact-url }})

            ```
            ${{ steps.vrt.outputs.value }}
            ```
